<div class="container-fluid">
    <div class="row" style="float:right">
        <a href="">Log in</a>
        <a href="">Register</a>
    </div>
</div>
<div class="container-fluid">
    <h1>Find what you enjoy and have fun.</h1>
</div>

<div class="contaner-fluid">
    <div class="row">
        <input type="email" placeholder="Enter e-mail" id="InputEmail">
        <button class="btn btn-primary">Register</button>
    </div>
</div>
<div>
    <p>
        First time at Yum O Yum?</p>
    <p> Basically, what we offer is great food, quickly within a short amount of time!</p>
</div>

<button class="btn btn-success" (click)="onLoadRecipe()">Go to Recipes</button>